// variables
// font
$fontSmall: 0.75em;
$fontMedium: 1.25em;
$fontLarge: 1.5em;
$fontExtraLarge: 2em;
$fontXXLarge: 3em;
// font weight
$fontScaleSmall: 1rem;
$fontWeightSmall: 300;
$fontWeightMedium: 400;
$fontWeightRegular: 600;
$fontWeightLarge: 700;
$fontWeighExtraLarge: 800;
$fontWeighXXL: 900;
// color
$primaryColor: #1890ff;
$shadowColor: gray;
